body {
    font-family: Futura, Helvetica, Arial, sans-serif;
}

.Detail {
    font-family: Futura, Helvetica, Arial, sans-serif;
    width: 100%;
	flex-grow:1;

}

h3 {
	/*overflow-x: scroll;*/
}

.up {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 0 5% 20px 5%;
    flex-wrap: wrap;

}

.left {
    background: white;
    box-shadow: 0 4px 8px 0 #ddd;
    flex: 1;
    margin: 0 0.5%;
    border: 1px solid #ddd;
    padding: 2%;
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right {
    margin: 0 0.5%;
    background: white;
    box-shadow: 0 4px 8px 0 #ddd;
    flex: 1;
    border: 1px solid #ddd;
    padding: 2%;
    width: 50%;
}

.figure {
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 #ddd;
    transition: 0.4s;
    display: block;
    width: inherit;
    /*max-height: 200px;*/
    max-width: 200px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.figure:hover {
    box-shadow: 0 8px 16px 0 #ddd;
    transform: scale(1.05);
}


.row {
    display: flex;
    margin: 10px;
    overflow-wrap: break-word;
}

.field_des {
    padding: 10px;
    margin-right: 10%;
    width: 30%;
    float: left;
    position: relative;
    text-align: left;
    font-weight: 900;
}

.field_con {
    padding: 10px;
    width: 50%;
    text-align: left;
    /*overflow-x: scroll;*/
}

.field_des {
    margin-right: 10%;
    width: 30%;
    float: left;
    position: relative;
    text-align: left;
}

.field_con {
    width: 50%;
    text-align: left;
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
