.outer{
    height: auto;
    width: 100%;

}


.load {
    display: flex;
    /*margin-top: 20%;*/
    /*margin: auto;*/
    justify-content: center;

}

.Items {
    text-align: center;
}


.photos {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.tdPhoto {
    width: 150px;
}

.tdContent {
    width: 700px;
    padding: 0;
}

.itemTable {
    box-shadow: 0 4px 8px 0 #ddd;
    margin-bottom: 4px;
    background-color: #EEEEEE;
    margin: 0 auto;
}

.itemHead {
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}

.category {
    width: 120px;
    vertical-align: top;
    text-align: right;
}

.content {
    text-align: left;
    padding-left: 10px;
    width: 100%;
}

.itemTable table, .itemTable tr, .itemTable td, .itemTable th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.noResults {
    height: 100%;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    list-style-type: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
