.Search {
    margin-top: -20px;
    overflow-y: scroll;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.Filter {
    width: 100%;
    min-width: 200px;
    margin: 10px;
    height: 300px;
    border: 1px;
    overflow-y: scroll;
}

.FilterWarpper {
    width: 25%;
    min-width: 200px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 #ddd;
    background-color: white;
}

.CheckBoxSample {
    text-align: left;
    min-width: 200px;
}

.Search table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 15px;
    margin-bottom: 30px;
  table-layout: fixed;
}
.Search tbody{
    width: 100%;

}
.Search td{
    width: 25%;

}
.Search table, .Search td, .Search th {
    text-align: right;
    vertical-align: center;

}

.Search table span{
    float: left;
    text-align: left;
}

.Search table input{
    vertical-align: center;
	
    /*height: 5vh;*/
    /*width: 10vw;*/
}

.Search .button-4 {
    font-family: inherit;
    width: 100px;
    height: 50px;
    border: 2px solid #333333;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
}



